.header{
    background-image: url(/images/nature2.jpg);
    background-size: 1350px 400px;
    background-repeat: no-repeat;
    height: 400px;
    
}

h1{
    color: white;
   position: absolute;
   left: 20px;
   top: 340px;
   font-family: sans-serif;
}
.secondh{
    background-color: #36353B;
    width: 1332px;
    height: 100px;
}
h3{
    float: left;
    margin: 30px;
}
h2{
    color: #899068;
    font-size: 30px;
    font-family: sans-serif;
    
}