.container{
    text-align: center;
    margin: 0% auto;
 

}
h1{
    border-bottom: 3px solid rgb(62, 62, 177);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: peru;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}